<section class="section">
  <div class="main">
      <div class="main-form">
          <form method="GET" class="form-search" role="search">
              <div class="menu-search">
                  <input type="text" name="search" placeholder="Поиск" autocomplete="off" [ngModel]="searchValue" (change)="setSearchValue($event)">
              </div>
              <a class="btn submit-search" type="submit" id="searchsubmit" [routerLink]="['search', searchValue]">
                  <i class="bx bx-search"></i>|<span>Поиск</span>
              </a>
        </form>
      </div>
      <div class="main-img">
          <img src="../../../assets/img/main.png" alt="">
      </div>
  </div>
</section>
<section class="section p-50 blocks">
  <div class="container">
      <div class="section-title mb-4"><span>Государственные реестры</span></div>
      <div class="row">
          <div class="col-md-3">
              <a [routerLink]="['nativemonopoly']" class="card card-block-primary ">
                  <div class="card-center">
                      <i class="bx bx-task"></i>
                      <div class="card-title">Субъекты естественных монополий</div>
                  </div>
              </a>
          </div>
          <div class="col-md-3">
              <a [routerLink]="['dominantmonopoly']" class="card card-block-second">
                  <div class="card-center">
                    <i class='bx bx-bar-chart-alt-2' ></i>
                      <div class="card-title">Субъекты занимающие доминирующее положение</div>
                  </div>
              </a>
          </div>
          <div class="col-md-3">
              <a [routerLink]="['governmentservices','state']" class="card card-block-primary">
                  <div class="card-center">
                        <i class='bx bx-money'></i>
                      <div class="card-title">Государственные платные услуги</div>
                  </div>
              </a>
          </div>
          <div class="col-md-3">
              <a [routerLink]="['governmentservices','municipal']" class="card card-block-second">
                  <div class="card-center">
                    <i class='bx bx-briefcase-alt' ></i>
                      <div class="card-title">Муниципальные платные услуги</div>
                  </div>
              </a>
          </div>
          <div class="col-md-3">
              <a [routerLink]="['services']" class="card card-block-second">
                  <div class="card-center">
                    <i class='bx bx-spreadsheet' ></i>
                      <div class="card-title">Единый реестр государственных услуг</div>
                  </div>
              </a>
          </div>
          <div class="col-md-3">
              <a [routerLink]="['permissiondocument']" class="card card-block-primary">
                  <div class="card-center">
                    <i class='bx bx-file'></i>
                      <div class="card-title">Реестр разрешительных документов</div>
                  </div>
              </a>
          </div>
          <div class="col-md-3">
              <a [routerLink]="['importedproducts','imported']" class="card card-block-second">
                  <div class="card-center">
                    <i class='bx bx-credit-card-front' ></i>
                      <div class="card-title">Минимальный уровень контрольных цен</div>
                  </div>
              </a>
          </div>
          <div class="col-md-3">
              <a [routerLink]="['importedproducts','local']" class="card card-block-primary">
                  <div class="card-center">
                    <i class='bx bx-wallet-alt' ></i>
                      <div class="card-title">Цены на социальные значимые товары</div>
                  </div>
              </a>
          </div>
      </div>
  </div>
</section>
<section class="section feedback" id="feedback">
  <div class="container feedback-text">
      <div class="row align-items-center slide-item-center justify-content-center">
          <div class="col-md-6">
              <div class="section-title white-color">Обратная связь.<span class="white-color">Оставайтесь на связи.</span></div>
              <div class="feedback-desc mt-4">
                  Любые вопросы можно задать нам через форму
                  обратной связи. Мы ответим намного быстрее
                  (15 минут в рабочее время), если для общения
                  со Службой Поддержки вы используете
                  внутренний чат Сервиса. Для этого вам
                  необходимо предварительно
                  зарегистрироваться и/или авторизоваться.
              </div>
          </div>
          <div class="col-md-6">
              <div class="feedback-form">
                  <form [formGroup]="questionForm" method="GET" action="/sdfsd" class="feedback_form" novalidate>
                      <div class="form-group">
                          <textarea class="form-control" id="desc" name="desc" rows="5" placeholder="Ваш вопрос" required></textarea>
                      </div>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <div class="input-group-text"><i class='bx bx-mail-send'></i></div>
                          </div>
                          <input type="email" class="form-control" placeholder="Ваш электронный адрес" id="email" name="email" required>
                      </div>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <div class="input-group-text"><i class='bx bx-user-circle' ></i></div>
                          </div>
                          <input type="text" class="form-control" placeholder="Ваше имя" id="name" name="name" required>
                      </div>
                      <button type="submit" class="btn btn-send">Отправить</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="feedback-img">
      <img src="../../../assets/img/feedback.png">
  </div>
</section>
