<mat-card>
  <div style="padding-bottom: 15px;">
  </div>
  <mat-card-header>
    <mat-card-title>{{datatableValues.title}}</mat-card-title>
    <mat-card-subtitle>{{datatableValues.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <dx-data-grid id="gridContainer"
                  [dataSource]="datatableValues.dxDataSource"
                  showBorders="true"
                  showRowLines="true"
                  showColumnLines="true"
                  allowColumnResizing="true"
                  allowColumnReordering="true"
                  columnHidingEnabled="true"
                  columnResizingMode="nextColumn"
                  columnAutoWidth="true"
                  wordWrapEnabled="true">

      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-grouping [autoExpandAll]="false" [contextMenuEnabled]="true" expandMode="rowClick"></dxo-grouping>
      <dxo-column-chooser enabled="true" mode="select"></dxo-column-chooser>
      <dxo-export [enabled]="true" fileName="Отчет" [allowExportSelectedData]="true"></dxo-export>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-selection mode="multiple"></dxo-selection>


      <!-- Start Edit here -->
      <dxi-column *ngFor="let row of datatableValues.rows"
                  [width]="row.width"
                  [dataField]="row.fieldName"
                  [caption]="row.caption"
                  [customizeText]="row.customizeText"
                  [calculateCellValue]="row.calculateCellValue"
                  [calculateDisplayValue]="row.calculateDisplayValue"
                  [visible]="row.visible"></dxi-column>

      <!-- End Edit here -->

      <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20, 50]"
        [showNavigationButtons]="true"
        [showInfo]="true" infoText="Страница {0} из {1} (Всего : {2} записей)">
      </dxo-pager>

    </dx-data-grid>

  </mat-card-content>
</mat-card>
