<nav class="navbar navbar-expand navbar-top">
  <div class="container">
      <div id="hamburger-menu" class="hamburger">
          <i class='bx bx-menu-alt-left'></i>
      </div>
      <a class="navbar-brand" [routerLink]="['/']">
          <img src="http://gaar.ulut.kg/assets/logo.png">
          <div class="navbar-brand-text">
            ГОСУДАРСТВЕННОЕ АГЕНТСТВО<br>АНТИМОНОПОЛЬНОГО РЕГУЛИРОВАНИЯ<br>
            <small>ПРИ ПРАВИТЕЛЬСТВЕ КЫРГЫЗСКОЙ РЕСПУБЛИКИ</small><br>
            <strong>АИС ГААР</strong> 
          </div>
      </a>
      <div id="left-nav">
          <div id="left-nav-close"><i class='bx bx-x'></i></div>
          <div class="d-flex justify-content-md-end align-items-center left-nav-left">
              <nav class="nav nav-locale">
                  <li class="nav-item"><a rel="alternate" href="#" class="nav-link">KY</a></li>
                  <li class="nav-item active"><a rel="alternate"  href="#"class="nav-link">RU</a></li>
                  <li class="nav-item"><a rel="alternate" href="#" class="nav-link">EN</a></li>
              </nav>
          </div>
          <div class="d-flex justify-content-md-end left-nav-right">
              <ul class="navbar-nav align-items-center">
                  <li class="nav-item nav-phone">
                      <a href="#" class="nav-phone-text">0 (312) 56-33-03</a>
                      <div class="nav-phone-desc">priemnaya@antimonopolia.kg</div>
                  </li>
                  <li class="nav-item">
                      <a class="btn btn-nav" href="/feedback">Оставить заявку<i class='bx bx-right-arrow-alt' ></i></a>
                  </li>
              </ul>
          </div>
      </div>
      <div id="user-menu" class="user-menu">
          <i class='bx bx-menu-alt-right'></i>
      </div>
  </div>
</nav>

<header class="header sticky-top">
  <div class="container">
      <div id="right-nav">
          <div id="right-nav-close"><i class='bx bx-x'></i></div>
          <ul class="nav justify-content-center navbar-bottom">
            <li class="nav-item"><a class="nav-link" routerLink="/about">О проекте </a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/resource">Ресурсы</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/document">Документы </a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/contact">Контакты </a></li>
          </ul>
      </div>
  </div>
</header>

<router-outlet></router-outlet>

<section class="section footer p-50">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="footer-info">
                  <a class="navbar-brand" href="#">
                      <img src="http://gaar.ulut.kg/assets/logo.png">
                      <div class="navbar-brand-text">
                        ГОСУДАРСТВЕННОЕ АГЕНТСТВО<br>АНТИМОНОПОЛЬНОГО РЕГУЛИРОВАНИЯ<br>
                        <small>ПРИ ПРАВИТЕЛЬСТВЕ КЫРГЫЗСКОЙ РЕСПУБЛИКИ</small><br>
                        <strong>АИС ГААР</strong> 
                      </div>
                  </a>
                  <div class="footer-desc">
                    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ua/maps/10309/bishkek/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Бишкек</a><a href="https://yandex.ua/maps/10309/bishkek/?from=api-maps&ll=74.576156%2C42.842210&mode=usermaps&origin=jsapi_2_1_76&um=constructor%3AlimpbfsaLRu4NOoNyBDCr-WRWxLPdFTz&utm_medium=mapframe&utm_source=maps&z=13" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс.Карты — поиск мест и адресов, городской транспорт</a><iframe src="https://yandex.ua/map-widget/v1/-/CCQ47Fa79C" width="100%" height="150px" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="footer-title">Навигация</div>
              <ul class="list-unstyled footer-list">
                  <li><a routerLink="/about">О проекте</a></li>
                  <li><a routerLink="/resource">Ресурсы</a></li>
                  <li><a routerLink="/document">Документы</a></li>
                  <li><a routerLink="/contact">Контакты</a></li>
              </ul>
          </div>
          <div class="col-md-3">
              <div class="footer-title">Наши контакты</div>
              <ul class="list-unstyled footer-list">
                  <li>г. Бишкек ул. Б.Баатыра 7Б/1 </li>
                  <li>0(312) 56-33-03 </li>
                  <li>0(312) 56-31-97 | Телефон доверия </li>
                  <li><a href="#">priemnaya@antimonopolia.kg</a></li>
                  <li>Пон-Пят 09:00 - 18:00 </li>
                  <li><a href="#">facebook.com/antimonopolia</a></li>
              </ul>
          </div>
      </div>
  </div>
</section>
