<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a href="#"><i class='bx bx-home'></i></a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Расширенный поиск</li>
    </ol>
  </nav>
</div>
<section class="section">
  <div class="container">
    <div class="section-title mb-4"><span>Расширенный поиск</span></div>
    <div class="section-body">
        <div class="search">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">В заголовках</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">По содержимому</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
              <div class="form-group col-md-3">
                <label for="inputState">В реестре</label>
                <select id="inputState" class="form-control">
                  <option selected>--Все--</option>
                  <option>Субъекты естественных монополий</option>
                <option>Субъекты занимающие доминирующее положение</option>
                <option>Государственные платные услуги</option>
                <option>Муниципальные платные услуги</option>
                <option>Единый реестр государственных услуг</option>
                <option>Реестр разрешительных документов</option>
                <option>Минимальный уровень контрольных цен</option>
                <option>Цены на социальные значимые товары</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </div>
  </div>
</section>
